/* GENERAL */
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.42857143;
    margin: 0px;
}

.center{
	text-align: center;
}

.container {
	display: table;
    margin-left: auto;
    margin-right: auto;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}

.row {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: table;
}

.col-4{
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	float: left;
	padding-left: 15px;
	padding-right: 15px;
}

/* HEADER */
header{
	background: #42486A;
	color: #d1d1d9;
    font-size: 1.2em;
    font-weight: bold;
	left: 0;
    letter-spacing: 0.5px;
    min-height: 65px;
 	position: fixed;
 	right: 0;
    text-transform: uppercase;
	top: 0;
    z-index: 1000;
    padding-left: 15px;
    padding-right: 15px;
}

#header-title{
	float: left;
}

#header-title,
#header-user{	
	cursor: pointer;	
	padding-top: 20px;
}

#header-title > a
{	
	color: #d1d1d9;
	text-decoration: none;
}

#header-title > a:hover,
#header-title > a:focus
{	
	color: #e8e8ec;
	text-decoration: none;
}

#header-form{	
	padding-top: 18px;
}

#header-user{
	float: right;
}

#user-menu{
	float: right;
}

.warning{
	text-transform: none;
	font-weight: normal;
	color: orange;
}

.header-toggle{
	float: right;
	position: relative;
	padding-top: 12px;
	background:none;  
	border:0;
	font-weight:bold;
	cursor:pointer;
	outline:none;	
	font-size: 1.5em;	
	color: #d1d1d9;
}

.header-toggle:hover,
.header-toggle:focus
{	
	color: #e8e8ec;
}

/* FORM - INPUTS */
form input{
    border: 1px solid #bebebe;
    padding: 7px;
}

/* FORMS - BUTTONS*/
.btn{
    background: #4B99AD;
    border: none;
    color: #fff;
    padding: 8px 15px 8px 15px;
    text-transform: uppercase;
    cursor: pointer;
}

.btn:hover{
    background: #4691A4;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
}

.btn-primary{
    background: #4B99AD;
}

.btn-primary:hover{
    background: #4691A4;
}

.btn-secondary{
    background: #FFCC00;
    color: #42486A;
}

.btn-secondary:hover{
    background: #e5b700;
}

/* MAP */
#map{
	padding-top: 65px;
}

/* SHOP */
#shop{
	background: #F6F6F7;	
	min-height: 100px;
	padding-bottom: 50px;
	padding-top: 30px;
}

/* CONTENT */
#content{
	background: #fff;
	padding-bottom: 50px;
	padding-top: 50px;
}

/* FOOTER */
footer{
	background: #fff;
	padding-left: 15px;
	padding-right: 15px;
}

/* VIEWPORTS */
@media (max-width: 991px)
{
	.container {
	    width: 100%;
	}
	
	.col-4 {
	    width: 100%;	
	}
	
	.header-toggle{
		display: block;
	}
	
	#user-menu{
		width: 100%;
		display: inline-block;
	}
	
	#header-form{
		float: left;
		padding-bottom: 18px;
	}	
	
	#header-form input{
		width: 100%;
		margin-bottom: 15px;
	}
}

@media (min-width: 992px)
{
	.container {
    	width: 970px;
	}
	
	.col-4 {
	    width: 50%;	
	}
	
	.header-toggle{
		display: block;
	}
	
	#user-menu{
		width: 100%;
		display: inline-block;
	}
	
	#header-form{
		float: right;
		padding-bottom: 18px;
	}	
}

@media (min-width: 1200px)
{
	.container {
	    width: 1170px;
	}
	
	.col-4 {
	    width: 33.33333333%;	
	}
	
	.header-toggle{
		display: none;
	}
	
	#user-menu{
		width: auto;
		display: block;
	}
	
	#header-form{
		float: right;
		padding-bottom: 0px;
	}
}

