@font-face {
  font-family: 'Raleway';
  src: url('font/raleway_thin-webfont.eot'); /* IE9 Compat Modes */
  src: url('font/raleway_thin-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('font/raleway_thin-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('font/raleway_thin-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('font/raleway_thin-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

/* GENERAL */
body{
    /*font-family: Arial, Helvetica, sans-serif;*/
    font-family: Raleway !important;
    font-size: 18px;
    margin: 0px;
}

main{
	padding-top: 65px;
}

.center{
	text-align: center;
}

.container {
    margin-left: auto;
    margin-right: auto;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}

.row {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.col-6,
.col-4{
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	float: left;
	padding-left: 15px;
	padding-right: 15px;
}

.icon{
	opacity: 0.7;
}

#user-menu:hover .icon,
#user-menu:focus .icon,
.icon:hover,
.icon:focus{
	opacity: 1;
}

/* HEADER */
header{
	background: #42486A;
	color: #d1d1d9;
    font-size: 1.2em;
    font-weight: bold;
	left: 0;
    letter-spacing: 0.5px;
    min-height: 65px;
 	position: fixed;
 	right: 0;    
	top: 0;
    z-index: 1000;
    padding-left: 15px;
    padding-right: 15px;
}

#header-title{
	float: left;
}

#header-title,
#header-user img{	
	cursor: pointer;	
	padding-top: 20px;
}

#header-title > a
{	
	color: #d1d1d9;
	text-decoration: none;
}

#header-title > a:hover,
#header-title > a:focus
{	
	color: #e8e8ec;
	text-decoration: none;
}

#header-form{	
	text-transform: uppercase;
	padding-top: 18px;
	float: right;
}

#header-user{
	float: right;
}

.warning{
	text-transform: none;
	font-weight: normal;
	color: darkorange;
}

.header-toggle{
	float: right;
	position: relative;
	padding-top: 12px;
	background:none;  
	border:0;
	font-weight:bold;
	cursor:pointer;
	outline:none;	
	font-size: 1.5em;	
	color: #d1d1d9;
	padding-bottom: 10px
}

.header-toggle:hover,
.header-toggle:focus
{	
	color: #e8e8ec;
}

#user-menu{
	float:right;
	display: table;
}

#header-username{
	padding-top: 20px;
	padding-right: 10px;
	float: left;
}

#user-menu:hover,
#user-menu:focus
{	
	color: #e8e8ec;
	cursor:pointer;
}

.menu-dropdown{
	background: #42486A;
    display: none;
    position: absolute;
    min-width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 65px;
    margin-left: -180px;
}

.menu-dropdown a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: #d1d1d9;
}

.menu-dropdown a:hover {
	color: #e8e8ec;
}

#header-user > span{
	padding-top: 0px;
}

/* FORM */
.form-item{
	width: 100%;
}

/* FORM - REGISTRATION */
#registration,
#settings{
	text-align: center;
}

#registration form,
#settings form{
	margin-top: 10px;
}

#registration form input,
#settings form input{
	height: 25px;
	margin-bottom: 10px;
}

#registration .btn,
#settings .btn{
	height: 42px;
}

/* FORM - INPUTS */
form input{
    border: 1px solid #bebebe;
    padding: 7px;
}

input[readonly] { 
    background: #CCC; 
    color: #333; 
    border: 1px solid #666 
}

/* FORMS - BUTTONS*/
.btn{
    background: #4B99AD;
    border: none;
    color: #fff;
    padding: 8px 15px 8px 15px;
    text-transform: uppercase;
    cursor: pointer;
}

.btn:hover{
    background: #4691A4;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
}

.btn-primary{
    background: #4B99AD;
}

.btn-primary:hover{
    background: #4691A4;
}

.btn-secondary{
    background: #FFCC00;
    color: #42486A;
}

.btn-secondary:hover{
    background: #e5b700;
}

.btn-big{
	padding: 10px 20px;
	font-weight: bold;
}

/* MAP */


/* SHOP */
#data{
	display: grid;
	background: #F6F6F7;	
	min-height: 100px;
	padding-top: 30px;
}



#data h2{
	text-align: center;
}

.data-desc{
	text-align: center;
	margin-bottom: 80px;
}

/* CONTENT */
#content{
	display: grid;
	background: #fff;
	padding-bottom: 50px;
	padding-top: 50px;
}

/* FOOTER */
footer{
	background: #fff;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 20px;
}

/* VIEWPORTS */
@media (max-width: 991px)
{
	#data h1{
		font-size: 2em;
		padding-bottom: 20px;
	}
	
	.container {
	    width: 100%;
	}
	
	.col-6,
	.col-4 {
	    width: 100%;	
	}
	
	.header-toggle{
		display: block;
	}
	
	#header-form{
		float: left;
		padding-bottom: 18px;
		width: 100%;
		display: none;
		border-top: 1px red;
	}	
	
	#header-form input{
		width: 100%;
		margin-bottom: 15px;
		padding-right: 0px;
	}
	
	#registration form input,
	#settings form input{
		width: 80%;
	}
	
	#registration .btn,
	#settings .btn{
		width: calc(80% + 14px);
	}
}

@media (min-width: 992px)
{
	#data h1{
		font-size: 2.5em;
		padding-bottom: 20px;
	}
	
	.container {
    	width: 970px;
	}
	
	.col-6{
	    width: 100%;	
	}
	
	.col-4 {
	    width: 50%;	
	}
	
	.header-toggle{
		display: block;
	}
	
	#header-form{
		float: right;
		padding-bottom: 18px;
		width: 100%;
		display: none;
		border-top: 1px red;
	}	
	
	#registration form input,
	#settings form input{
		width: 50%;
	}
	
	#registration .btn,
	#settings .btm{
		width: calc(50% + 14px);
	}
}

@media (min-width: 1280px)
{
	#data h1{
		font-size: 3em;
		padding-bottom: 20px;
	}

	.container {
	    width: 1370px;
	}
	
	.col-6 {
	    width: 50%;	
	}
	
	.col-4 {
	    width: 33.33333333%;	
	}
	
	.header-toggle{
		display: none;
	}
	
	#header-form{
		float: right;
		padding-bottom: 0px;
		width: auto;
		display: block !important;
	}
	
	#registration form input,
	#settings form input{
		width: 35%;
	}
	
	#registration .btn,
	#settings .btn{
		width: calc(35% + 14px);
	}
}

